.team-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.team-container img {
  width: 100px;
  height: 100px;
  border-radius:50%;
}

.team-member {
  margin-bottom: 20px;
}

.section .container .markdown {
  text-align: left !important;
}
